<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/aboutblog.css">
    <title>Document</title>
</head>
<body>
    <div class="blogoffheader">
        <ul >
            <li class="ani"><a href="/blogoff" class="it1"><h1 class="title">Blog<span class="title1">Off</span></h1></a></li>
            
        </ul>
        <h1 class="CRE">BLOG Off</h1>
        <p class="CRE1">Post your blogs and Show your  creativity</p>
       
       <a href="/compose"> <div  class="btn c"> Compose</div></a>
        <a href="/home"><div  class="btn h"> GO To Home</div>></a>   
    </div>
    <div class="top-blogs">
        <h1 class="heading-topblogs">Why blog?</h1>
        <div class="about_items">
            <h1 class="about_title">Sharing information</h1> 
            <p class="aboutcon">A blog page provides an excellent platform for sharing information with your audience. Whether you are a business man or an normal individual, you can use your blog page to share your expertise, knowledge, opinions, or news related to your audience.</p>
         </div>
         <div class="about_items">
            <h1 class="about_title">Building credibility</h1>  
            <p class="aboutcon">Regularly publishing informative and high-quality content on your blog page can help you establish yourself as an authority in your field. This can help build credibility and trust with your audience, making it more likely that they will return to your site for future content and recommendations.</p>
            </div> 
             <div class="about_items">
            <h1 class="about_title">Search engine optimization</h1> 
            <p class="aboutcon">A blog page can also help improve your website's search engine optimization (SEO) by providing fresh and relevant content that can attract more traffic to your site. Search engines tend to favor websites that regularly publish high-quality content, so having a blog page can be an effective way to improve your site's rankings.</p>
         </div> 
         <div class="about_items">
             <h1 class="about_title">Building a community</h1> 
             <p class="aboutcon">A blog page can also help you build a community around your brand or topic. By engaging with your readers through comments, social media, and other channels, you can build a loyal following of readers who are interested in what you have to say and share.</p>
         </div>
         <div class="about_items">
             <h1 class="about_title">Marketing</h1> 
             <p class="aboutcon">Finally, a blog page can be an effective marketing tool for promoting your products, services, or brand. By featuring your products or services in your blog content, you can educate your audience and drive more traffic to your website or online store.</p>
         </div>
    </div>
    <div class="footer">
        <br><br>
      <h3 class="infof">Sign up for newsletters and updates</h3>
      <br>
      <form action="/home" method="post">
        <input type="email" name="useremail" class="mail" size="30" placeholder="Enter your email id" ><br><br>
        <button type="submit" name="bb" class="smail" value="emailsub">Submit</button>
      </form>
      <br><br><br>
      <h3>copyrights @2022</h3>
    </div>
    <script src="/public/animation.js"></script>
</body>
</html>